# Exemplo de arquivo .env
# Copie este arquivo como ".env" e preencha suas chaves de API

# Chave da API Groq (obtenha em: https://console.groq.com/)
GROQ_API_KEY=GROQ_API_KEY=your_api_key_here


# Chave da API SerpApi (obtenha em: https://serpapi.com/)
SERPAPI_API_KEY=SUA_API_KEY


# Configuração Flask
FLASK_ENV=development
DEBUG=True
